<%# Banner %>
<div class="banner" >
  <div class ="container">
    <div class="banner-content">
      <h1><span class=red>Re</span>Chair</h1>
      <p>Every chair is an opportunity</p>
      <%= link_to "Browse Chairs", courses_path, class:"btn btn-primary"%>
    </div>
  </div>
</div>
<br>
<br>

<div id="wrapper" style="width:80%; margin:auto">
<%# About Us Section %>
  <div class="card-mission">
    <h3 style="font-weight: bold; text-align: center; padding:20px;"> Our Mission </h3>
    <div class="text-center">
      <h5 id="about-us-text"style="width:80%; margin:auto">We believe vacant seats on courses is a missed opportunity for someone out there. That’s why we’ve partnered with universities to promote their vacant seats at an affordable rate. Those who have a passion for education and learning will be able to do so by booking their ideal course with Rechair.</h5>
    </div>
  </div>
  <br>
  <br>

<%# Carousel %>
<h3 style="font-weight: bold; text-align: center; padding:20px;"> Our Partners </h3>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "Carousel1.jpg", alt: "orange", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "Carousel2.jpg", alt: "orange", class: "d-block w-100" %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br>
<%# TopRatedCourses %>
<h3 style="font-weight: bold; text-align: center; padding:20px;"> Top Courses </h3>

  <div class="cards">
    <% @courses.first(3).each do |course| %>
      <div>
        <div class="card-product">
          <div class="row">
            <div class="col">
              <%= link_to course_path(course) do %>
               <img src="<%=course.image_url%>">
              <% end %>
            </div>
          </div>
          <%# Course title, Institution name, and Description %>
          <div class="row">
            <div class="col">
              <div class="text-center">
                <h5><%= link_to course.title, course_path(course) %>, </h5>
                <h6>at <%= course.institution.name %></h6> <%# add link to institution profile page %>
              </div>
              <div class="text-left">
                <p><%= course.description.first(90) %>...</p>
              </div>
            </div>
          </div>
          <%# Professor name and Price %>
          <div class="d-flex justify-content-between card-bottom">
            <p>Prof. <%= course.professor %></p>
            <p><i style="color:#8EB1C7" class="fa-solid fa-star"></i> <%= course.rating.round(1) %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <br>
  <br>
</div>
