<div class="container-fluid">

  <h1>Hi, <%= @user.email %></h1>
  <h3>Check out this amazing test page</h3>
  <%= image_tag "Header-avatar-01.svg", class: "avatar-large" %>
  <br>

  <p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
  <p>Email: <%= @user.email %></p>

  <p>User id <%= @user.id%></p>

  <h1>My Bookings</h1>
  <% @bookings.each do |booking| %>
    <div>
      <div>
        <h2><%= booking.course.title %></h2>
      </div>
      <div>
        <em><%= booking.course.institution.name %></em>
      </div>
      <div>
        <p>Starts on <%= booking.course.start_date.to_formatted_s(:short) %>
      </div>
      <div>
        Ends on <%= booking.course.end_date.to_formatted_s(:long) %></p>
      </div>
    <br>
  <% end %>


  <div>
    <%= link_to "Find a course to study", courses_path %>
  </div>
  <div>
    <%= link_to "Edit your profile", edit_page_path(:id) %>
  </div>
</div>
