<div class="container-fluid">

  <h1>Hi, <%= @user.email %></h1>
  <h3>Let's see what courses you have coming up...</h3>
  <div class="flex-container">
    <div>
      <%= image_tag "Header-avatar-01.svg", class: "avatar-large" %>
    </div>


    <div>
      <p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
      <p>Email: <%= @user.email %></p>
    </div>
  </div>

  <h1>My Bookings</h1>
  <% @bookings.each do |booking| %>
    <div>
      <div>
        <h2><%= booking.course.title %></h2>
      </div>
      <div>
        <em><%= booking.course.institution.name %></em>
      </div>
      <div>
        <p>Starts on <%= booking.course.start_date.to_formatted_s(:short) %>
      </div>
      <div>
        Ends on <%= booking.course.end_date.to_formatted_s(:short) %></p>
      </div>
    <br>
  <% end %>


  <div>
    <%= link_to "Find a course to study", courses_path %>
  </div>
  <div>
    <%= link_to "Edit your profile", edit_page_path(:id) %>
  </div>
</div>
