<div class="index-search">
  <div class= "search-item">
    <%= form_tag courses_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a course"
      %>
    </div>
    <div class= "search-item">
      <%= collection_select :institution, :id, Institution.all, :id, :name, { :include_blank => true }, { :selected => params[:institution] ? params[:institution][:id] : nil, :class => "custom-select" } %>
    </div>
    <div class= "search-item">
      <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<div class="container-fluid">
  <div class="cards">
    <% @courses.each do |course| %>
      <div>
        <div class="card-product">
          <div class="row">
            <div class="col">
              <%= link_to course_path(course) do %>
               <img src="<%=course.image_url%>">
              <% end %>
            </div>
          </div>
          <%# Course title, Institution name, and Description %>
          <div class="row">
            <div class="col">
              <div class="text-center">
                <h5><%= link_to course.title, course_path(course) %>, </h5>
                <h6>at <%= course.institution.name %></h6> <%# add link to institution profile page %>
              </div>
              <div class="text-left">
                <p><%= course.description.first(100) %>...</p>
              </div>
            </div>
          </div>
          <%# Professor name and Price %>
          <div class="d-flex justify-content-between card-bottom">
            <p>Prof. <%= course.professor %></p>
            <p>£<%= course.price %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
